{% extends "admin/layout.html" %}

{% block title %}
Application
{% endblock %}

{% block main %}
    <h1 class="title">Application Stats</h1>

    <h2 class="title is-3 mb-1 mt-2">Service</h2>
    <pre class="pb-0">
Users: {{service["user_count"]}}
Sessions: {{service["session_count"]}}
Shortened URLs: {{service["shortener_count"]}}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">CPU</h2>
    <pre class="pb-0">
Percent:   {{cpu["percentage"]}}
Cores:     {{cpu["cores"]}}
Frequency: {{cpu["frequency"]}}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Memory</h2>
    <pre class="pb-0">
Total:   {{memory["total"]}}
Used:    {{memory["used"]}}
Percent: {{memory["percentage"]}}%
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Disk</h2>
    <pre class="pb-0">
Partition Count: {{disk["count"]}}
Stats:
    Read Count:  {{disk["counters"].read_count}}
    Read Bytes:  {{disk["counters"].read_bytes}}
    Write Count: {{disk["counters"].write_count}}
    Write Bytes: {{disk["counters"].write_bytes}}
Space:{% for p in disk["drives"] %}
    {{p[0]}}:
        Total:   {{p[1].total}}
        Used:    {{p[1].used}}
        Percent: {{p[1].percent}}{% endfor %}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Process</h2>
    <pre class="pb-0">
Memory Usage: {{process["memory"]}}
CPU Usage: {{process["cpu"]}}
Process ID: {{process["pid"]}}
Username: {{process["username"]}}
Working Directory: {{process["cwd"]}}
Python Path: {{process["exe"]}}
Invocation: {{" ".join(process["cmdline"])}}
    </pre>
{% endblock %}