{% extends "admin/layout.html" %}

{% block title %}
Application
{% endblock %}

{% block main %}
    <h1 class="title">Application Stats</h1>

    <h2 class="title is-3 mb-1 mt-2">Service</h2>
    <pre class="pb-0">
Users: {{service["user_count"]}}
Sessions: {{service["session_count"]}}
Logged in Users: {{service["unique_session_count"]}}
Shortened URLs: {{service["shortener_count"]}}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Package Versions</h2>
    <pre class="pb-0">{% for name, version in packages.items() %}
{{name}}: v{{version}}{% endfor %}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Code</h2>
    <pre class="pb-0">
Lines: {{code_stats["lines"]}}
Files: {{code_stats["files"]}}
Characters: {{code_stats["characters"]}}
Classes: {{code_stats["classes"]}}
Function: {{code_stats["functions"]}}
Coroutines: {{code_stats["coroutines"]}}
Comments: {{code_stats["comments"]}}
    </pre>
    <h2 class="title is-3 mb-1 mt-2">Git</h2>
    <pre class="pb-0">
Branch: {{git["branch"]}}
Remote: <a href="{{git['remote']}}">{{git["remote"]}}</a>
Commit Count: {{git["commit_count"]}}
Current Commit:
    Revision: <a href="{{git['commit_url']}}">{{git["revision"]}}</a>
    Message: {{git["commit_message"]}}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">CPU</h2>
    <pre class="pb-0">
Percent: {{cpu["percentage"]}}%
Cores: {{cpu["cores"]}}
Frequency: {{cpu["frequency"]}}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Memory</h2>
    <pre class="pb-0">
Total: {{memory["total"]}}
Used: {{memory["used"]}}
Percent Used: {{memory["percent"]}}%
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Disk</h2>
    <pre class="pb-0">
Partition Count: {{disk["count"]}}
Stats:
    Read Count: {{disk["counters"]["read_count"]}}
    Read Bytes: {{disk["counters"]["read_bytes"]}}
    Write Count: {{disk["counters"]["write_count"]}}
    Write Bytes: {{disk["counters"]["write_bytes"]}}
Space:{% for p in disk["drives"] %}
    {{p["mountpoint"]}}:
        Total: {{p["total"]}}
        Used: {{p["used"]}}
        Free: {{p["free"]}}
        Percent Used: {{p.percent}}{% endfor %}
    </pre>

    <h2 class="title is-3 mb-1 mt-2">Process</h2>
    <pre class="pb-0">
Memory Usage: {{process["memory"]}}
Process ID: {{process["pid"]}}
Username: {{process["username"]}}
Working Directory: {{process["cwd"]}}
Python Path: {{process["exe"]}}
Invocation: {{" ".join(process["cmdline"])}}
    </pre>
{% endblock %}