{% extends "dashboard/settings/layout.html.jinja" %}

{% block name %}
    Account
{% endblock %}

{% block main2 %}
    <form method="POST">
        <div class="field">
            <label class="label">User ID</label>
            <div class="control">
                <input class="input" type="text" value="{{id}}" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label">Joined</label>
            <div class="control">
                <input class="input" type="text" value="{{joined.strftime('%d %B %Y at %H:%M')}}" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input {{'is-danger' if email_error else ''}}" type="email" value="{{email}}" name="email">
                {% if email_error %}
                    <p class="help is-danger">{{email_error[0]}}</p>
                {% endif %}
            </div>
        </div>

        <label class="label">Session Duration</label>
        <div class="field has-addons">
            <div class="control">
                <input class="input {{'is-danger' if session_duration_error else ''}}" type="number" name="session_duration_amount" value="{{session_duration.amount}}" min="1" max="60" required>
                {% if session_duration_amount_error %}
                    <p class="help is-danger">{{session_duration_amount_error[0]}}</p>
                {% endif %}
                {% if session_duration_unit_error %}
                    <p class="help is-danger">{{session_duration_unit_error[0]}}</p>
                {% endif %}
            </div>
            <div class="control">
                <div class="select">
                    <select name="session_duration_unit" required>
                        <option value="minutes" {% if session_duration.unit == "minutes" %}selected{% endif %}>Minutes</option>
                        <option value="hours" {% if session_duration.unit == "hours" %}selected{% endif %}>Hours</option>
                        <option value="days" {% if session_duration.unit == "days" %}selected{% endif %}>Days</option>
                        <option value="weeks" {% if session_duration.unit == "weeks" %}selected{% endif %}>Weeks</option>
                        <option value="months" {% if session_duration.unit == "months" %}selected{% endif %}>Months</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="buttons">
                <button class="button is-info" type="submit">Save</button>
                <a href="{{ url_for('settings.delete_account') }}" class="button is-danger">Delete</a>
            </div>
        </div>
    </form>
{% endblock %}
