{% extends "dashboard/settings/layout.html" %}

{% block title %}
Settings
{% endblock title %}

{% block main2 %}
    <div class="box {{' is-hidden' if user['authorized'] is false}}">
        <h2 class="title is-2">API Key</h2>
        <div class="control">
            <input id="api-key" class="input block" type="password" readonly value="{{user['api_key']}}"/>
            <div class="buttons has-addons">
                <button class="button is-primary" id="toggle-show-api-key">Show</button>
                <button class="button is-info" id="copy-api-key">Copy</button>
                <button class="button is-danger js-modal-trigger" data-target="regen-modal">
                    Regenerate
                </button>
            </div>
        </div>
    </div>

    <div id="regen-modal" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <div id="regen-content">
                <h2 class="is-size-2">Danger</h2>
                <p class="mb-2">Clicking this button will immediately revoke your current API Key and generate a new one. You will not be able to use your old API Key anymore.</p>
                <button class="button is-danger block mt-2" id="regen-btn">I understand the consequences</button>
            </div>
            <p class="is-hidden" id="regen-success">Successfully regenerated your API Key</p>
            <footer class="is-size-7 mt-3">Click anywhere to exit</footer>
          </div>
        </div>
    </div>

    <div class="box">
        <h2 class="title is-2">Account Management</h2>
        <div class="buttons has-addons">
            <button class="button is-warning"><a href="/dashboard/users/{{user['id']}}/edit" class="has-text-dark">Edit Account</a></button>
            <button class="button is-danger"><a href="/dashboard/users/{{user['id']}}/delete" class="has-text-light">Delete Account</a></button>
        </div>
    </div>

    <script src="/static/js/settings.js" type="module"></script>
{% endblock %}