{% extends 'dashboard/layout.html.jinja' %}

{% import "macros.html.jinja" as macros with context %}

{% block name %}
{% endblock name %}

{% block title %}
    {{self.name()}} Settings
{% endblock title %}

{% block main %}
    <div class="title mb-3">{{self.name()}} Settings</div>

    <div class="tabs mb-3">
        <ul>
            <li class="{{'is-active' if request.rel_url.path == '/dashboard/settings' or request.rel_url.path.startswith('/dashboard/settings/account')}}"><a href="/dashboard/settings">Account</a></li>
            {{macros.active_tab(url_for("settings.sessions"), "Sessions")}}            
            {{macros.active_tab(url_for("settings.api_key"), "API Key")}}  
            {{macros.active_tab(url_for("settings.shortener"), "URL Shortener")}}  
            {{macros.active_tab(url_for("settings.invites"), "Invites")}}  
        </ul>
    </div>

    {% block main2 %}
    {% endblock  %}
{% endblock  %}