{% extends 'dashboard/settings/layout.html.jinja' %}

{% block name %}
    Shortener
{% endblock %}

{% block main2 %}
    <a class="button is-link mb-2" href="/dashboard/shortener/sharex">Download ShareX Config</a><br>
    <a class="is-underlined" href="https://getsharex.com/docs/custom-uploader" target="_blank">ShareX Custom Uploader Docs</a>
{% endblock %}