{% extends "base.html" %}
{% block body %}
    <div class="m-4">
        <div class="columns">
            <div class="column is-narrow">
                <aside class="menu">
                    <ul class="menu-list"><li><a href="/dashboard" class="{{'is-active' if request.rel_url.path == '/dashboard' else ''}}">Home</a></li></ul>
                    <p class="menu-label">
                        Services
                    </p>
                    <ul class="menu-list">
                        <li><a href="/dashboard/shortener" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/shortener') else ''}}">URL Shortener</a></li>
                        <li><a href="/dashboard/notes" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/notes') else ''}}">Secure Notes</a></li>
                        {% if user["admin"] is true %}
                            <li><a href="/admin">Admin Dashboard</a></li>
                        {% endif %}
                    </ul>
                    <p class="menu-label">
                        User
                    </p>
                    <ul class="menu-list">
                        <li><a href="/dashboard/settings" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/settings') else ''}}">Settings</a></li>
                        <li><a class="has-text-danger" href="/auth/logout">Logout</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}