{% extends "dashboard/users/layout.html" %}

{% block title %}
Manage Users
{% endblock title %}

{% block main2 %}
    <div class="field">
        <div class="field-label mb-1" style="text-align: left;">
            <label class="label">Sort By</label>
        </div>
        <div class="field-body">
            <form class="field is-narrow has-addons">
                <div class="control">
                    <div class="select">
                        <select name="sortby" title="Sort By">
                            <option value="username" {% if sortby == "username" %}selected{% endif %}>Username</option>
                            <option value="email" {% if sortby == "email" %}selected{% endif %}>Email</option>
                            <option value="id" {% if sortby == "id" %}selected{% endif %}>User ID</option>
                            <option value="authorized" {% if sortby == "authorized" %}selected{% endif %}>Authorized</option>
                            <option value="joined" {% if sortby == "joined" or not sortby %}selected{% endif %}>Joined</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <div class="select">
                        <select name="direction" title="Direction">
                            <option value="desc" {% if direction == "desc" or not direction %}selected{% endif %}>Descending</option>
                            <option value="asc" {% if direction == "asc" %}selected{% endif %}>Ascending</option>
                        </select>
                    </div>
                </div>
                <button class="button is-primary" type="submit">
                    Go
                </button>
            </form>
        </div>
    </div>


    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth is-bordered is-narrow">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>User ID</th>
                    <th>Authorized</th>
                    <th>Joined</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i, u in enumerate(users, start=1) %}
                    <tr>
                        <td>{{truncate(u["username"], 15)}}</td>
                        <td>{{u["email"]}}</td>
                        <td><code>{{u["id"]}}</code></a></td>
                        <td><code>{{u["authorized"]}}</code></td>
                        <td>{{u["joined"].strftime("%d %B %Y at %H:%M")}}</td>
                        <td>
                            <a href="/dashboard/users/{{u['id']}}/edit" class="button is-warning is-small">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/users.js" type="module"></script>
    
{% endblock %}