{% extends 'base.html.jinja' %}

{% block title %}
    Viewing Secure Note
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <div class="columns is-flex is-vcentered is-centered">
            <div class="column is-9">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Viewing secure note named <code>{{name}}</code></p>
                        {% if email %}
                            <p class="subtitle is-6">This note was created by <code>{{email}}</code></p>
                        {% else %}
                            <p class="subtitle is-6 has-text-danger">The author of this note has chosen to hide their email address</p>
                        {% endif %}
                        
                        <textarea class="textarea" readonly id="content">{{content}}</textarea>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item is-justify-content-flex-start">
                            <button class="button is-info" id="copy-btn">Copy</button>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/view-note.js"></script>
{% endblock body %}