{% extends 'admin/users/layout.html.jinja' %}
{% import "macros.html.jinja" as macros with context %}

{% block main2 %}
    <form method="POST">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input id="email" name="email" class="input {{ macros.class_if_error('email') }}" type="text" placeholder="User's email">
                {{ macros.errors_and_help("email") }}
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input id="password" name="password" class="input {{ macros.class_if_error('password') }}" type="password" placeholder="A secure password">
                {{ macros.errors_and_help("password") }}
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" id="show-password">
                <span id="show-password-text">Show</span> Password
            </label>
        </div>
        <div class="field">
            <button class="button is-info" type="submit">Create User</button>
        </div>
    </form>

    <script src="/static/js/show-pw.js"></script>
{% endblock  %}
