{% extends 'admin/layout.html.jinja' %}

{% import "macros.html.jinja" as macros with context %}


{% block main %}
    <div class="title mb-3">Manage Users</div>
    
    <div class="tabs mb-3">
        <ul>
            {{macros.active_tab(url_for("users.index"), "View All")}}
            {{macros.active_tab(url_for("users.create"), "Create")}}
            {% if request.rel_url.path.startswith("/admin/users") and request.rel_url.path.endswith("/edit") %}
                <li class="is-active"><a>Edit</a></li>
            {% endif %}
            {% if request.rel_url.path.startswith("/admin/users") and request.rel_url.path.endswith("/delete")  %}
                <li class="is-active"><a>Delete</a></li>
            {% endif %}
        </ul>
    </div>

    {% block main2 %}
    {% endblock  %}
{% endblock %}