{% extends 'dashboard/settings/layout.html.jinja' %}

{% block name %}
    API Key
{% endblock %}

{% block main2 %}
    <input id="api-key" class="input mb-3" type="password" readonly value="{{user['api_key']}}"/>
    <div class="buttons">
        <button class="button is-primary" id="toggle-show-api-key">Show</button>
        <button class="button is-info" id="copy-api-key">Copy</button>
        <a class="button is-danger" href="/dashboard/settings/api_key/regenerate">Regenerate</a>
    </div>

    <script src="/static/js/settings.js" type="module"></script>
{% endblock  %}