{% extends "base.html.jinja" %}
{% import "macros.html.jinja" as macros with context %}

{% block body %}
    <div class="m-4">
        <div class="columns">
            <div class="column is-narrow">
                <aside class="menu">
                    <ul class="menu-list">
                        <li>{{macros.active_link(url_for("base.admin"), "Home", type="equals")}}</li>
                        <li><a>URL Shortener</a></li>
                        <li><a>Notes</a></li>
                        <li>{{macros.active_link(url_for("users.index"), "Users")}}</li>
                        <li>{{macros.active_link(url_for("application.index"), "Application")}}</li>
                        <li><a href="{{ url_for('base.dashboard') }}">Dashboard</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
