{% extends "errors/layout.html.jinja" %}

{% block title %}
    Not Found
{% endblock title %}

{% block header %}
    404 Not Found
{% endblock header %}

{% block text %}
    The requested page was not found.
{% endblock text %}