{% extends "errors/layout.html.jinja" %}

{% block title %}
    Internal Server Error
{% endblock title %}

{% block header %}
    500 Internal Server Error
{% endblock header %}

{% block text %}
    An error has occured within the server. If this persists please contact the site owner.
{% endblock text %}
