{% extends "dashboard/settings/layout.html" %}

{% block name %}
    Account
{% endblock %}

{% block main2 %}
    <form novalidate>
        <div class="field">
            <label class="label">User ID</label>
            <input class="input" type="text" value="{{id}}" disabled>
        </div>

        <div class="field">
            <label class="label">Joined</label>
            <input class="input" type="text" value="{{joined.strftime('%d %B %Y at %H:%M')}}" disabled>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <input class="input" type="email" value="{{email}}" name="email" disabled>
        </div>
        <div class="buttons">
            <a href="/dashboard/settings/account/edit" class="button is-warning">Edit</a>
            <a href="/dashboard/settings/account/delete" class="button is-danger">Delete</a>
        </div>
    </form>
{% endblock %}