{% extends 'dashboard/settings/layout.html' %}

{% block title %}
    Editing account
{% endblock title %}

{% block main2 %}
    <form method="POST" novalidate>
        <div class="field">
            <label class="label">User ID</label>
            <input class="input" type="text" value="{{id}}" disabled>
        </div>

        <div class="field">
            <label class="label">Joined</label>
            <input class="input" type="text" value="{{joined.strftime('%d %B %Y at %H:%M')}}" disabled>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <input class="input {{'is-danger' if email_error else ''}}" type="email" value="{{email}}" name="email">
            {% if email_error %}
                <p class="help is-danger">{{email_error[0]}}</p>
            {% endif %}
        </div>
        
        <div class="field">
            <div class="buttons">
                <button class="button is-info" type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}