{% extends 'admin/users/layout.html' %}

{% block main2 %}
    <form method="POST">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input id="email" name="email" class="input {{'is-danger' if email_error else ''}}" type="text" placeholder="User's email">
                {% if email_error %}
                    <p class="help is-danger">{{email_error[0]}}</p>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input id="password" name="password" class="input {{'is-danger' if password_error else ''}}" type="password" placeholder="A secure password">
                {% if password_error %}
                    <p class="help is-danger">{{password_error[0]}}</p>
                {% endif %}
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" id="show-password">
                <span id="show-password-text">Show</span> Password
            </label>
        </div>
        <div class="field">
            <button class="button is-info" type="submit">Create User</button>
        </div>
    </form>

    <script src="/static/js/show-pw.js"></script>
{% endblock  %}