{% extends 'admin/layout.html' %}

{% block main %}
    <div class="title mb-3">Manage User{{"s" if user["admin"] == True}}</div>
    
    {% if user["admin"] == True %}
        <div class="tabs mb-3">
            <ul>
                <li class="{{'is-active' if request.rel_url.path == '/admin/users' }}"><a href="/admin/users">View All</a></li>
                <li class="{{'is-active' if request.rel_url.path == '/admin/users/create' }}"><a href="/admin/users/create">Create</a></li>
                {% if request.rel_url.path.startswith("/admin/users") and request.rel_url.path.endswith("/edit") %}
                    <li class="is-active"><a>Edit</a></li>
                {% endif %}
                {% if request.rel_url.path.startswith("/admin/users") and request.rel_url.path.endswith("/delete")  %}
                    <li class="is-active"><a>Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% block main2 %}
    {% endblock  %}
{% endblock %}