<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://meizuflux.com/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <noscript>
        <div class="column is-fullwidth has-text-centered has-background-warning">
            <h6 class="title is-6">Some functionality is unsupported with JS disabled</h6>
        </div>
    </noscript>
    {% block body %}
    {% endblock %}
</body>
