{% extends "layout.html" %}



{% block main %}
    <div>
        <h2 class="title is-2">Hello, {{request["user"]["username"]}}</h2>
        <hr style="border-style: inset;border-width: 1px;">
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Images</p>
            <p class="subtitle">You have 30 uploaded images</p>
        </article>
        </div>
        <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title"><a href="/dashboard/shortner">URL Shortner</a></p>
            {% if url_count > 0 %}
                <p class="subtitle">You have {{url_count}} shortened URLs</p>
            {% else %}
                <p class="subtitle">You haven't shortened any URLs</p>
            {% endif %}
        </article>
        </div>
    </div>
{% endblock %}