{% macro active_link(url, text, type="startswith", class="") %}
    {% if type == "startswith" %}
        <a href="{{ url }}" class="{{'is-active' if request.rel_url.path.startswith(url)}} {{class}}">{{text}}</a>
    {% else %}
        <a href="{{ url }}" class="{{'is-active' if request.rel_url.path == url}} {{class}}">{{text}}</a>
    {% endif %}
{% endmacro %}

{% macro active_tab(url, text, type="startswith", class="") %}
    {% if type == "startswith" %}
        <li class="{{'is-active' if request.rel_url.path.startswith(url)}} {{class}}"><a href="{{ url }}">{{text}}</a></li>
    {% else %}
        <li class="{{'is-active' if request.rel_url.path == url}} {{class}}"><a href="{{ url }}">{{text}}</a></li>
    {% endif %}
{% endmacro %}

{% macro class_if_error(error, class="is-danger") %}
    {{ class if (errors|d({}))[error] }}
{% endmacro %}

{% macro errors_and_help(error_name, help=none) %}
    {% if (errors|d({}))[error_name] %}
        {% for error in errors[error_name] %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% if help %}
        <p class="help">{{ help }}</p>
    {% endif %}
{% endmacro %}
