{% extends "base.html" %}
{% block body %}
    <div class="m-4">
        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
                    <p class="menu-label">
                        Services
                    </p>
                    <ul class="menu-list">
                        <li><a href="/dashboard" class="{{'is-active' if request.rel_url.path == '/dashboard' else ''}}">Home</a></li>
                        <li><a href="/dashboard/shortner" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/shortner') else ''}}">URL Shortner</a></li>
                        <li><a href="/dashboard/cdn" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/cdn') else ''}}">Image CDN</a></li>
                        {% if user["admin"] %}
                            <li><a href="/dashboard/users" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/users') else ''}}">Manage Users</a></li>
                        {% endif %}
                    </ul>
                    <p class="menu-label">
                        User
                    </p>
                    <ul class="menu-list">
                        <li><a href="/dashboard/settings" class="{{'is-active' if request.rel_url.path.startswith('/dashboard/settings') else ''}}">Settings</a></li>
                        <li><a class="has-text-danger" href="/api/auth/logout">Logout</a></li>
                    </ul>
                  </aside>
            </div>
            <div class="column is-9">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}