{% extends "dashboard/layout.html" %}

{% block title %}
Settings
{% endblock title %}

{% block main %}
    <div class="box">
        <h2 class="title is-2">API Key</h2>
        <div class="control">
            <input id="api-key" class="input block" type="password" readonly value="{{user['api_key']}}"/>
            <div class="buttons has-addons">
                <button class="button is-primary" id="toggle-show-api-key">Show</button>
                <button class="button is-info" id="copy-api-key">Copy</button>
                <button class="button is-danger js-modal-trigger" data-target="regen-modal">
                    Regenerate
                </button>
            </div>
        </div>
    </div>

    <div class="box">
        <h2 class="title is-2">Account Management</h2>
        <div class="buttons has-addons">
            <a class="button is-warning" href="/api/auth/login?provider={{user['oauth_provider']}}">Refresh User Info</a>
            <button class="button is-danger js-modal-trigger" data-target="delete-modal">Delete Account</button>
        </div>
    </div>

    <div id="regen-modal" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <div id="regen-content">
                <h2 class="is-size-2">Danger</h2>
                <p class="pb-2">Clicking this button will immediately revoke your current API Key and generate a new one. You will not be able to use your old API Key anymore.</p>
                <button class="button is-danger block mt-2" id="regen-btn">I understand the consequences</button>
            </div>
            <p class="is-hidden" id="regen-success">Successfully regenerated your API Key</p>
            <footer class="is-size-7 mt-3">Click anywhere to exit</footer>
          </div>
        </div>
    </div>

    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <div>
                <h2 class="is-size-2">Danger</h2>
                <p class="pb-2">Clicking this button will delete your account, including all items you have created.</p>
                <form class="field" id="delete-form">
                    <label class="label">Enter your username</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="{{user['username']}}" autocomplete="off" id="delete-username-input">
                      <a href="/api/auth/delete?redirect=True" class="button is-danger block mt-2" id="delete-btn" disabled>I understand the consequences</a>
                    </div>
                </form>
                
            </div>
            <footer class="is-size-7 mt-3">Click anywhere to exit</footer>
          </div>
        </div>
    </div>

    <script src="/static/js/settings.js" type="module"></script>
{% endblock %}