{% extends 'dashboard/layout.html.jinja' %}

{% import "macros.html.jinja" as macros with context %}

{% block main %}
    <div class="title mb-3">URL Shortener</div>

    <div class="tabs mb-3">
        <ul>
            {{macros.active_tab(url_for("shortener.index"), "View All")}}
            {{macros.active_tab(url_for("shortener.create"), "Create")}}
            {% if alias %}
                {% if request.rel_url.path == "/dashboard/shortener/" + alias + "/edit" %}
                    <li class="is-active"><a>Edit</a></li>
                {% endif %}
                {% if request.rel_url.path == "/dashboard/shortener/" + alias + "/delete" %}
                    <li class="is-active"><a>Delete</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

    {% block main2 %}
    {% endblock  %}
{% endblock  %}
