{% extends 'dashboard/layout.html.jinja' %}

{% block main %}
    <div class="title mb-3">URL Shortener</div>

    <div class="tabs mb-3">
        <ul>
            <li class="{{'is-active' if request.rel_url.path == '/dashboard/shortener' }}"><a href="/dashboard/shortener">View All</a></li>
            <li class="{{'is-active' if request.rel_url.path == '/dashboard/shortener/create' }}"><a href="/dashboard/shortener/create">Create</a></li>
            {% if alias %}
                {% if request.rel_url.path == "/dashboard/shortener/" + alias + "/edit" %}
                    <li class="is-active"><a>Edit</a></li>
                {% endif %}
                {% if request.rel_url.path == "/dashboard/shortener/" + alias + "/delete" %}
                    <li class="is-active"><a>Delete</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

    {% block main2 %}   
    {% endblock  %}
{% endblock  %}